# Variables de entorno
.env

# Archivos temporales
uploads/*
outputs/*
!uploads/.gitkeep
!outputs/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
entorno/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
